src/main/mule/ontablerow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<db:config name="Database_Config" doc:name="Database Config" doc:id="c05d2b89-2a6c-4fa6-99a7-9480780783b3" >
		<db:my-sql-connection host="iltdb.learn.mulesoft.com" port="3306" user="mule" password="mule" database="training" />
	</db:config>
	<file:config name="File_Config" doc:name="File Config" doc:id="843bbedd-0ec8-4314-bdf0-ae95c7015145" >
		<file:connection workingDir="C:\Users\DELL\Desktop\json_Files" />
	</file:config>
	<flow name="ontablerowFlow" doc:id="df5f9a8f-be5f-4fe8-966d-03488adb40ba" >
		<db:listener doc:name="On Table Row" doc:id="019dbcaa-2c93-4b20-829b-173d98431117" config-ref="Database_Config" table="accounts" watermarkColumn="accountID" idColumn="accountID">
			<scheduling-strategy >
				<fixed-frequency />
			</scheduling-strategy>
		</db:listener>
		<ee:transform doc:name="Transform Message" doc:id="3d977ad5-09a8-404e-bf2a-76471665f8c3" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/csv header=false
---
[payload]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<file:write doc:name="Write" doc:id="4bad82e0-2261-411b-b5e3-229c9c9d660b" config-ref="File_Config" path="path/MyFile.csv"/>
		<logger level="INFO" doc:name="Logger" doc:id="9b29d65a-7bc7-4064-a83c-baab48d8d154" message="#[payload]"/>
	</flow>
</mule>
